extends ../layout/site_layout
block site_view
    link(rel='stylesheet', href='/stylesheets/extension_apply.css')
    .wrapper.navbar-fixed-top
        .navbar-text
            | 位置：我的提问
    .blank
        .ul_titie_question_answer.clearfix
            ul
                li.clearfix
                    .my_title
                        | 提问#
                        span 4:
                        | 【注册用户】找工作你好，哈哈     (信息交流条数：0)
                        a(href="").right.btnf60 不再回答该问题
                        span.right 【2015-8-21 19:13:36】
                    .reply_box
                        .question.clearfix
                            .left 回答者：
                            img(src="#{base_path}/images/head.png").left
                            span.red anjing1993
                            span.guanggao 如果你不来，广告明星就是他就是他:
                            span 回复内容回复内容回复内容回复内容回复内容回复
                            .right
                                span.time 2015-05-02 00:02:22
                                a(href="").card_btn2 回 复
                        .conversation_box.clearfix
                            .inputbox
                                .jiaoliubox
                                    .jiaoliu_my.clearfix
                                        .title-img.clearfix
                                            .left
                                                img(src="#{base_path}/images/head.png")
                                                span.red anjing1993
                                            .right
                                                span.time 2015-05-02 00:02:22
                                        .reply-txt
                                            |咖啡店的开发力度开发了收款方老师lkls上能否能反复说服你没说你烦死你方式，能否，上的那麻烦
                                    .jiaoliu_you.clearfix
                                        .title-img.clearfix
                                            img(src="#{base_path}/images/head.png")
                                            span.red anjing1993
                                            span.right.time 2015-05-02 00:02:22
                                        .reply-txt
                                            |咖啡店的开发力度开发了收款方老师lkls上能否能反复说服你没说你烦死你方式，能否，上的那麻烦
                                    .jiaoliu_my.clearfix
                                        .title-img.clearfix
                                            .left
                                                img(src="#{base_path}/images/head.png")
                                                span.red anjing1993
                                            .right
                                                span.time 2015-05-02 00:02:22
                                        .reply-txt
                                            |咖啡店的开发力度开发了收款方老师lkls上能否能反复说服你没说你烦死你方式
                                .textarea_box
                                    textarea 请输入回复内容
                                    a(href="").card_btn2.space 回 答
                        .question.clearfix
                            .left 回答者：
                            img(src="#{base_path}/images/head.png").left
                            span.red anjing1993
                            span.guanggao 如果你不来，广告明星就是他就是他:
                            span 回复内容回复内容回复内容回复内容回复内容回复
                            .right
                                span.time 2015-05-02 00:02:22
                                a(href="").card_btn2 回 复
                        .question.clearfix
                            .left 回答者：
                            img(src="#{base_path}/images/head.png").left
                            span.red anjing1993
                            span.guanggao 如果你不来，广告明星就是他就是他:
                            span 回复内容回复内容回复内容回复内容回复内容回复
                            .right
                                span.time 2015-05-02 00:02:22
                                a(href="").card_btn2 回 复
                        .question.clearfix
                            .left 回答者：
                            img(src="#{base_path}/images/head.png").left
                            span.red anjing1993
                            span.guanggao 如果你不来，广告明星就是他就是他:
                            span 回复内容回复内容回复内容回复内容回复内容回复
                            .right
                                span.time 2015-05-02 00:02:22
                                a(href="").card_btn2 回 复
                li
                    .my_title.title_border_top
                        | 提问#
                        span 4:
                        | 【注册用户】找工作你好，哈哈     (信息交流条数：0)
                        .right
                            span 【2015-8-21 19:13:36】
                            a(href="").card_btn2.space1 回复
                            a(href="") （不再回答该问题！）
                li
                    .my_title
                        | 提问#
                        span 4:
                        | 【注册用户】找工作你好，哈哈     (信息交流条数：0)
                        .right
                            span 【2015-8-21 19:13:36】
                            a(href="").card_btn2.space1 回复
                            a(href="") （不再回答该问题！）
                li
                    .my_title
                        | 提问#
                        span 4:
                        | 【注册用户】找工作你好，哈哈     (信息交流条数：0)
                        .right
                            span 【2015-8-21 19:13:36】
                            a(href="").card_btn2.space1 回复
                            a(href="") （不再回答该问题！）
    script(type="text/javascript",src="/javascripts/business/site/question/my_question.js")
